<div class="container">
  <h2>
    {{roomName}} :
    <p class="text-right">
      You are connected as user : {{me}}
    </p>
  </h2>
  <div class="row">

    <div class="col-xs-2">
      <h3>Users</h3>
      <ul>
        <li ng-repeat="chatter in room.userList">
          {{chatter}}
          <div ng-if="canKickOrBan(chatter)">
            <i class="fa fa-ban" ng-click="kickUser(chatter)"></i></input>
            <!--
            <input type="button" value="ban user" ng-click="banUser(chatter)"> </input>
            <intput type="button" value="Op user" ng-click="opUser(chatter)"></input>
            -->
          </div>
        </li>
      </ul>
    </div>
      <div class="col-md-6">
      <div class="row">
        <div class="col-xs-11" id="messageBox" style="overflow-y:scroll;overflow-x:hidden; height: 500px; width:100%">
          <p>
            Messages!
          </p>
          <div ng-repeat="message in messages">
            <p>
              <strong>{{message.nick}} :</strong>
              <p class="text-right">{{message.timestamp}}</p>
            </p>
            <blockquote>
              {{message.message}}
            </blockquote>
          </div>
        </div>
      </div>
      <div>
        <input type="text" name="name" ng-model="message" placeholder="Write A messsage!">
        <button type="button" ng-click="sendMessage()" name="button">Send</button>
      </div>
        <div ng-if="userIsOp(me)">
          <!-- TODO: implement unbanning user! -->
          <input type="text" name="name" ng-model="unbanName" placeholder="Unban Someone"><i class="fa fa-user-plus"></i>
        </div>
    </div>
  </div>
</div>
