<div class="container">
  <h2>
    {{roomName}} :
    <p class="text-right">
      You are connected as user : {{me}}
    </p>
    <p>
      {{topic}}
    </p>
  </h2>
  <div class="row">

    <div class="col-xs-2">
      <h3>Users</h3>
      <ul>
        <li ng-repeat="chatter in room.userList" ng-class="{ opUser: userIsOp(chatter) }">
          <span>
            {{chatter}}
          </span>
          <div>
            <i ng-if="canKickOrBan(chatter)" title="Kick User" class="fa fa-hand-o-left toolTip" ng-click="kickUser(chatter)"></i>
            <i ng-if="canKickOrBan(chatter)" title="Ban User" class="fa fa-ban toolTip" ng-click="banUser(chatter)"></i>
            <i ng-if="canOp(chatter)" title="Op User" class = "toolTip fa fa-hand-spock-o" ng-click="opUser(chatter)" ></i>
            <i ng-if="canDeop(chatter)" title="De-op user" class=" toolTip fa fa-thumbs-o-down" ng-click="deop(chatter)"></i>
          </div>
        </li>
      </ul>
    </div>
      <div class="col-md-6">
      <div class="row">
        <div class="col-xs-11" id="messageBox" style="overflow-y:scroll;overflow-x:hidden; height: 500px; width:100%">
          <p>
            Messages!
          </p>

          <div class="pad messageContainer" ng-repeat="message in messages">
            <div ng-class="{ owned: me == message.nick}">
              <div class="messageHeader">
                <span> {{message.nick}} </span>
                <span class="text-right"> {{message.timestamp}} </span>
              </div>
              <div class="messageText">
                {{message.message}}
              </div>
            </div>
          </div>


        </div>
      </div>
      <div>
        <input type="text" name="name" ng-model="message" placeholder="Write A messsage!">
        <button type="button" ng-click="sendMessage()" name="button">Send</button>
      </div>
        <div ng-if="userIsOp(me)">
          <!-- TODO: implement unbanning user! -->
          <input type="text" name="name" ng-model="unbanName" placeholder="Unban Someone">
          <button type="button" name="button" ng-click="unbanUser(unbanName)"> <i class="fa fa-user-plus" ></i></button>
        </div>
    </div>
  </div>
</div>
